<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<style>
.border-container-main {
	border-radius: .25rem;
	border: solid 1px #ccc;
	min-height: 800px;
}

.border-container {
	border-radius: .25rem;
	border: solid 1px #ccc;
	margin-bottom: 10px;
}
</style>

</head>
<body style="background-color: #eee">
	<div class="container">
		
		<div class="row" th:each="message : ${lstMessages}">
			<div class="col-sm-12  col-md-12 col-lg-12">
				<div class="alert alert-danger" role="alert" th:text="${message}"></div>
			</div>
		</div>

		<div class="row" style="display: none" id="alertContainer">
			<div class="col-sm-12  col-md-12 col-lg-12">
				<div class="alert alert-danger" role="alert" id="alertText"></div>
			</div>
		</div>

	</div>
	<div class="container-fluid">
		<div class="container">
			<div class="row">

				<div class="col-sm-12  col-md-4 col-lg-4 border-container-main"
					style="background-color: #f8f9fa;">
					<div class="row">
						<div class="col-sm-12  col-md-12 col-lg-12">
							<button type="button" class="btn btn-primary" data-toggle="modal"
								style="margin-top: 10px;" data-target="#modalProducts">Input
								Products</button>
							<hr></hr>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12  col-md-12 col-lg-12 ">
							<div class="border-container"
								style="txt-align: center; background-color: white">
								<h3 style="text-align: right; margin-right: 10px;"
									th:text="${vendingMachine.cashBalance}" id="cashBalance"></h3>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12  col-md-6 col-lg-6">
							<select class="form-control" id="denomination">
								<option value="">Denomination</option>
								<option th:each="denomination : ${lstDenomination}"
									th:value="${denomination}" th:text="${denomination.label}"></option>
							</select>
						</div>

						<div class="col-sm-12  col-md-5 col-lg-5">
							<button type="button" class="btn btn-primary" style="width:150px"
								onclick="addDenomination();">Insert money</button>
						</div>

					</div>

					<hr></hr>



					<div class="row">
						<div class="col-sm-12  col-md-6 col-lg-6">Enter product code
						</div>
						<div class="col-sm-12  col-md-6 col-lg-6"></div>

					</div>

					<div class="row">
						<div class="col-sm-12  col-md-6 col-lg-6">
							<input class="form-control" type="text" id="productCode">
						</div>

						<div class="col-sm-12  col-md-5 col-lg-5">
							<button type="button" class="btn btn-primary" style="width:150px"
								onclick="selectProduct();">Select Product</button>
						</div>
					</div>
					
					<hr></hr>
					
					<div class="row">
						<div class="col-sm-12  col-md-6 col-lg-6">
						</div>

						<div class="col-sm-12  col-md-5 col-lg-5">
							<button type="button" class="btn btn-primary" style="width:150px"
								onclick="endTransaction();">Get refund</button>
						</div>
					</div>
					
				</div>

				<div class="col-sm-12 col-md-8 col-lg-8 border-container-main"
					style="background-color: #80bdff">
					<div class="row">
						<div class="col-sm-12  col-md-12 col-lg-12">

							<div class="row">

								<div th:each="product : ${vendingMachine.lstProduct}"
									class="col-sm-12  col-md-4 col-lg-3">

									<div class="card"
										style="width: 100%; text-align: center; margin-top: 5px">
										<div class="card-img-top"
											style="border-bottom: 1px solid #eee; height: 40px; vertical-align: middle;">
											<h4 th:text="${product.itemName}"></h4>
										</div>
										<div class="card-body">
											<div style="border-bottom: 1px solid #eee;">
												<p class="card-title" th:text="'$' + ${product.cost}"></p>
											</div>
											<p class="card-text" th:text="${product.code}"></p>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="modalProducts" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<form id="formFileProducts" method="POST"
							action="/load-product-list/">
							<label for="exampleFormControlFile1">Select a file [.TXT]</label>
							<input type="file" class="form-control-file" id="productsFile"
								accept="text/plain" name="productsFile">
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary"
						onclick="$('#formFileProducts').submit();">Save changes</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal" id="modalKeepBuying" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="modalKeepBuyingBody">would like to purchase anything else?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Keep purchasing</button>

					<button type="button" class="btn btn-primary"
						onclick="endTransaction();$('#modalKeepBuying').modal('hide');">Collect items, and change</button>

				</div>
			</div>
		</div>
	</div>
	<!-- include javascript -->
	<script type="text/javascript"
		src="/webjars/jquery/3.4.1/jquery.min.js/"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/js/vendingMachine.js}"></script>
</body>
</html>
